/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
body {
	font-family: 'Karla'
}

.logo{
	width: 160px;
	height: 40px;
}

.bg-black{
	background-color: #000000;
	padding-top: 50px;
}

.bg-home {
	color: yellow !important;
	font-weight: 800;
}

.bg-color {
	color: #ffffff !important;
}

.plus {
    background-color: #ce1a26;
    position: absolute;
    right: 13px;
    margin: 10px;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5px;
}

.plus-icon{
	font-family: 'Karla';
	color: #ffffff;
	font-size: 20px;
	align-self: center;
}

.navbar-toggler {
	background-color: white;
}

.s1 {
	background-image: url("../images/banner.jpg");
	background-size: cover;
	height: 100vh;
}

.demos{
	position: absolute;
    right: 0;
    top: 160px;
    background-color: #ffffff;
    margin: 10px;
    border-radius: 10px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	height: 70px;
	cursor: pointer;
}

.buy-now{
	position: absolute;
    right: 0;
    top: 240px;
    background-color: #ffffff;
    margin: 10px;
    border-radius: 10px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	height: 70px;
	cursor: pointer;
}

.demos p {
	font-size: 15px;
}

.buy-now p {
	font-size: 15px;
}

.img-styles1{
	width: 44px;
    height: 31px;
	margin-top: 10px;
}

.img-styles2{
	width: 36px;
    height: 31px;
	margin-top: 10px;
}
.custom-styles{
	position: absolute;
    top: 300px;
	line-height: 60px;
}

.s1-text1{
	font-size: 35px;
	color: #ffffff;
	font-weight: 800;
}

.s1-text2{
	font-size: 60px;
	font-weight: bold;
	color: #fcdc31;
}

.s1-text3{
	font-size: 60px;
	color: #ffffff;
	font-weight: bold;
}

.button {
	background-color: #DB2528;
	width: 150px;
	padding: 8px;
	color: #ffffff;
	border-radius: 25px;
	font-size: 12px;
	border: none;
}

.s2-styles{
	background-color: white;
	margin-top: -40px;
}

.s2 .item{
	padding-top: 30px;
	padding-bottom: 30px;
	font-weight: bold;
}

.s2 .item-container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.s2-icons{
	width:15px;
	height:15px;
}

.s3 {
	padding-top: 50px;
}

.s3 h1 {
	font-weight: bold;
	color: #000000;
}

.s3-content{
	font-size: 25px;
	font-weight: bold;
}

.s3-arrow {
	width: 15px;
	height: 15px;
	margin-top: -5px;
}

.s3-button{
	
	margin-top: 40px;
}

.s3-main-heading{
	margin-bottom: 80px;
}

.s3-amount{
	color: #ce1927;
	font-size: 15px;
	font-weight: 400;
}

.s3-banner-bottom{
	margin-top: 100px;
}

.s3 .container-fluid {
	padding: 0;
}

.s4-categories{
	margin-top: 100px;
	display: flex;
	justify-content: space-between;
}

.s4-main-heading{
	font-weight: bold;
	color: #000000;
}

.s4-box1{
	background-image: url("../images/S4-image1.jpg");
	background-size: cover;
}

.s4-box2{
	background-image: url("../images/S4-image2.jpg");
	background-size: cover;
}

.s4-box3{
	background-image: url("../images/S4-image3.jpg");
	background-size: cover;
}

.s4-box4{
	background-image: url("../images/S4-image4.jpg");
	background-size: cover;
}

.s4-box5{
	background-image: url("../images/S4-image5.jpg");
	background-size: cover;
}

.s4-box6{
	background-image: url("../images/S4-image6.jpg");
	background-size: cover;
}

.s4-box7{
	background-image: url("../images/S4-image7.jpg");
	background-size: cover;
}

.s4-box8{
	background-image: url("../images/S4-image8.jpg");
	background-size: cover;
}

.s4-positioning{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40vh;
	margin-bottom: 20px;
}

.s4 p {
	color: white;
	font-weight: bold;
}

.s4-image{
	width: 35px;
	height: 60px;
}

.s4-image4{
	width: 60px;
	height: 60px;
}

.s4-color{
	color: #000 !important;
	margin-top: 5px;
}

.s4-positioning1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

.s5 {
	background-image:url("../images/banner2.jpg");
	background-size: cover;
	width: 100%;
	height: 60vh;
	margin-top: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.s5-content{
	font-size: 40px;
	font-weight: bold;
	color: white;
	align-self: flex-start;
}

.s5-order{
	font-size: 65px;
	font-weight: bold;
	color: #fcdc31;
}

.s5-banner{
	display: flex;
	align-self: flex-start;
}

.s5-image1{
    width: 140px;
    height: 52px;
    margin-right: 10px;
    margin-top: 5px;
}

.s5-image2{
	width: 140px;
    height: 62px;
}

.s6 {
	margin-bottom: 150px;
}

.s6-news{
	margin-top: 100px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.s6-main-heading{
	font-weight: bold;
	color: #000000;
}

.s6-image1{
	background-image: url("../images/S6-image1.jpg");
	background-size: cover;
	height: 60vh;
}

.s6-image2{
	background-image: url("../images/S6-image2.jpg");
	background-size: cover;
	height: 60vh;
}

.s6-content{
	color: #000000;
	font-weight: bold;
	margin-top: 40px;
}

.footer{
	background-image: url("../images/Footer.jpg");
	background-size: cover;
}

.footer-heading {
	padding-top: 100px;
	padding-bottom: 40px;
	color: white;
}

.footer-offer-img{
	width: 100px;
	height: 100px;
}

.footer li {
	color: white;
	margin-bottom: 10px;
}

.footer li a{
	color: white;
	text-decoration: none;
}

.footer .bg-yellow{
	color: yellow;
}

.footer-logo{
    width: 170px;
    height: 40px;
}

.footer-bottom-line{
	font-size: 35px;
	font-weight: bold;
}

.footer-bottom-color{
	color: white;
	font-size: 14px;
	font-weight: 300;
}

.footer-input{
	padding: 8px;
	border-radius: 20px;
	border: none;
	width: 500px;
	outline: none;
}

.footer-button{
	padding: 8px;
	border-radius: 20px;
	border: none;
	width: 500px;
	outline: none;
	background-color: #ce1a26;
	margin-top: 20px;
	color: white;
}

.footer i {
	font-size: 15px;
	color: white;
	margin: 10px;
}

.footer-decoloration{
	color: white;
}

.contact{
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #560F11;
	margin-bottom: 0px;
}

.contact-main-heading{
	color: yellow;
	font-weight: bold;
}

.bg-font-white{
	color: white;
}

@media screen and (max-width: 576px) {
  .plus {
	  top: 0px;
	  right: 10px;
	}
  .bg-transperent{
		margin: 10px;	
	}
	.custom-styles {
		top: 320px;
	}
	.footer-heading{
		text-align: center;
	}
	.footer li {
        text-align: center;
    }
	.footer-input{
		width: 300px;
	}
	.footer-button{
		width:300px;
	}
	.footer-img{
		width: 120px;
		height: 90px;
	}
}

@media screen and (min-width: 576px){
	.footer-img{
		width: 120px;
		height: 90px;
	}
}

@media screen and (min-width: 992px){
	.custom-styles {
		top: 250px;
	}
}
